.camera-frame{
  width: 425px;       /* uskladi sa ostalim widgetima */
  height: 220px;      /* ili 520px ako želiš kao grafana */
  display: inline-block;
  padding: 0;
}

.camera-img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 0;
  border-radius: var(--wf-radius-inner);
}