services:
  influxdb:
    image: influxdb:2
    env_file:
      - .env
    ports:
      - "8086:8086"
    volumes:
      - influx-data:/var/lib/influxdb2

  grafana:
    image: grafana/grafana:latest
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - influxdb

  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"

  server:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    env_file:
      - .env
    depends_on:
      - influxdb
      - mosquitto
    environment:
      - INFLUX_URL=http://influxdb:8086
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
    command: ["python", "server/app.py"]
    restart: unless-stopped

  device:
    working_dir: /app/device
    build:
      context: ..
      dockerfile: infra/Dockerfile
    env_file:
      - .env
    depends_on:
      - mosquitto
    stdin_open: true
    tty: true
    command: ["python", "main.py"]


volumes:
  influx-data:
  grafana-data:
