<div class="plan">
  <div class="plan-frame">
    <img class="plan-img" src="house-plan.png" />
  </div>

  <svg class="overlay" viewBox="0 0 1000 800" preserveAspectRatio="none">
    <g *ngFor="let pane of panes">
      <path
        class="pane"
        [attr.d]="pane.pathD"
        [style.--pane-color]="pane.color"
        [class.selected]="selectedPi === pane.id"
        (click)="selectPi($event, pane.id)"
      ></path>

      <text
        class="pane-label"
        [attr.x]="pane.labelPos.x"
        [attr.y]="pane.labelPos.y"
        [class.selected]="selectedPi === pane.id"
      >
        {{ pane.label }}
      </text>
    </g>
  </svg>
</div>